<h1 class="text-center">価値観リストとは？</h1>
<div class="example_1">
  <h2 class="text-center"><p>価値観リストは全部で８０種類ある価値観の内自分が重要だと思うものを１０個選ぶものです。</p><br>
    <p> 自分が本当に大事にしているものがなにか自分との対話で知ることができます。</p><br>
    <p> まず初めに６つの質問を受けてその回答を入力してください。</p><br>
    <p> 次に80個の価値観の中からとても重要に◎、重要ではあるが、そこまででもないもの○</p><br>
    <p> 重要ではない△を選択して、最終的に10個まで絞っていただきます。</p><br>
    <p> これにより自分の最も重要だと思う価値観がわかり自分の意思決定の基準がわかるようになります。</h2>
  </p>
</div>
<%= link_to "価値観リストを作成する", new_list_path,
            class: "btn-sticky", style: "font-size: 28px; color: #333;" %>
<%= link_to "価値観リストを見る", list_path(current_user),
            class: "btn-sticky", style: "font-size: 28px; color: #333;" %>