<h1 class="text-center">If-thenテクニックの例</h1>
<div class="wrapper">
  <div class="column">
    <div class="info_1">
      <h1>If
        <div class="color-grey">(〇〇という状況の時)→</div>
      </h1>
      <br>
      <div class="if_text">
        <h2>朝6時に起きたら→</h2><br>
        <h2>仕事や体調が優れない時→</h2><br>
        <h2>お風呂に入る前→</h2><br>
        <h2>外でご飯を食べる時→</h2><br>
        <h2>学習や仕事に取り掛かる時→</h2><br>
        <h2>性格改善などにも利用できます。</h2><br>
        <h2>怒りを感じた時→</h2><br>
        <h2>人とあったときは→</h2><br>
        <h2>人になにかしてもらったときは→</h2><br>
        <h2>不安を感じた時→</h2><br>
        <h2>怒りを感じた時→</h2><br>
        <h2></h2>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="info_2">
      <h1>Then
        <div class="color-grey">(〇〇という行動をする)</div>
      </h1>
      <br>
      <div class="if_text">
        <h2>ジョギングをする</h2><br>
        <h2>早く寝て早朝に学習や運動などをする</h2><br>
        <h2>筋トレをする</h2><br>
        <h2>ジムで運動する</h2><br>
        <h2>深呼吸をして集中しやすくする</h2><br>
        <h2>　　　　　</h2><br>
        <h2>深呼吸をゆっくりして落ち着かせる</h2><br>
        <h2>相手を問わずあいさつする</h2><br>
        <h2>必ずお礼を言う</h2><br>
        <h2>紙に10分間不安や感じていることを書き出す</h2>
        <h2>怒りの度合いを数値化して閾値(しきいち)以下は怒らない</h2><br>
      </div>
    </div>
  </div>
</div>
<div class="flex-container">
  <%= link_to "設定をする", new_it_path,
              class: "btn-sticky", style: "font-size: 28px; color: #333; justify-content: center;" %>

</div>