<% provide(:title, "If-thenルールの例") %>
<div id="main-content">
  <aside class="side left">
    <%= link_to(content_tag(:i, '', class: "fas fa-angle-left fa-3x
      faa-horizontal animated-hover", style: "color: rgb(80,80,80);"), it_path(current_user)) %>
  </aside>
  <section class="todo">
    <div class="log-form">
      <div class="form-title tween-animate-title center-position">If-thenルールの例</div>
      <div class="wrapper">
        <div class="column">
          <div class="info_1">
            <h1>If</h1>
            <h2 class="color-grey">(〇〇という状況の時)</h2>
            <div class="if__text">
              <h2 class="if__space">朝6時に起きたら</h2>
              <h2 class="if__space">仕事後習慣をする際<br>疲れている時</h2>
              <h2 class="if__space">お風呂に入る前</h2>
              <h2 class="if__space">外でご飯を食べる時</h2>
              <h2 class="if__space">学習や仕事に取り掛かる時</h2>
              <h2 class="if__space">本番に緊張している時</h2>
              <h2 class="if__space">人とあったときは</h2>
              <h2 class="if__space">人になにかしてもらったとき</h2>
              <h2 class="if__space">不安や怒り、ストレスで心が不安定な時</h2>
              <h2 class="if__space">怒りを感じた時</h2>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="info_2">
            <h1>Then</h1>
            <h2 class="color-grey">(〇〇という行動をする)</h2>
            <div class="if__text">
              <h2 class="if__space">ジョギングをする</h2>
              <h2 class="if__space">早く寝て早朝に学習や<br>
                運動などをする</h2>
              <h2 class="if__space">筋トレをする</h2>
              <h2 class="if__space">ジムで運動してから行く</h2>
              <h2 class="if__space">深呼吸をして集中する</h2>
              <h2 class="if__space">深呼吸をして落ち着かせる</h2>
              <h2 class="if__space">相手を問わず挨拶</h2>
              <h2 class="if__space">必ずお礼をする、または言う</h2>
              <h2 class="if__space">紙に10分間不安や感じていることを書き出す</h2>
              <h2 class="if__space">怒りの度合いを数値化して閾値(しきいち)以下は怒らない</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="center-position">
      <div class="popular__btn appear up">
        <%= link_to new_it_path, class: "btn cover-3d" do %>
          <span>If-Thenルールを作る！</span>
        <% end %>
      </div>
    </div>
  </section>
  <aside class="side right">
    <%= link_to(content_tag(:i, 'Create', class: "fas fa-angle-right fa-2x
                                faa-horizontal animated-hover fa-pull-right",
                            style: "color: rgb(80,80,80);"), new_it_path) %>
  </aside>