<% @user.its.each do |it| %>
    <div class="wrapper">
      <div class="column">
        <h1><%= simple_format(it.situation) %></h1>
      </div>
      <div class="column">
        <h1><%= simple_format(it.behavior) %></h1>
      </div>
    </div>
  <% end %>
<%= link_to(content_tag(:i, '', class: "fas fa-trash-alt fa-3x faa-horizontal
 animated-hover fa-pull-right", style: "color: rgb(80,80,80);"), it_path(@its.ids), method: :delete, data: {confirm: "本当に削除しますか？"}) %>
<%= link_to(content_tag(:i, '', class: "fas fa-edit fa-3x faa-vertical animated-hover
 fa-pull-right", style: "color: rgb(80,80,80);"), edit_it_path(@its.ids)) %>