</section>
</main>
<aside class="side right">
  <%= link_to(content_tag(:i, '', class: "fas fa-question faa-vertical  fa-2x animated-hover fa-pull-right",
                          style: "color: rgb(80,80,80);"), tasks_path) %>
</aside>