<aside class="side right ">
  <div class="side__inner">
  <%= link_to(content_tag(:i, '', class: "fas fa-question faa-vertical  fa-2x ",
                          style: "color: rgb(80,80,80);"), tasks_path) %>
  </div>
</aside>