<h1>ToDoリストへようこそ！</h1>
<div class=container>
  <h2 class="guidance">
    <li>仕事や学校が忙しくても何からやれば良いかもう悩みません。</li>
    <li>あなたがいまやるべきことを抜き出して管理しましょう。</li>
    <li>ToDoリスト!を活用して、仕事や勉強の効率化に役立ててください！</li>
  </h2>
  <%= link_to "ToDoリスト！", task_path(current_user),
              class: "btn-sticky", style: "font-size: 28px; color: #333;" %></div>