<div id="ivy-background">
  <h1 class="text-center">アイビー・リー・メソッドとは？</h1>
  <div class="container">
    <h2>
      <li id=ivy><p>ToDOリストの一種で、1つの作業が終わるまで</p><br>
        <p>断固として次のことをやらないという仕組みづくりです。</p><br>
        <p>具体的には以下の6つの方法を行うことです。</p>
      </li>
      <br>
      <div class="space">
        <p>1. 明日(今日でもOK)やるべきことを6つメモする。</p><br>
        <p>2. 6項目を重要だと思う順に優先順位1,2,3,4,5,6と番号をふる。</p><br>
        <p>3. このメモの順番に従ってやるべきことをすすめる。</p><br>
        <p>4. もし全部できなかったら、悔やむことなく忘れる。</p><br>
        <p>5. その後明日のための6つの項目を新しくメモする。</p><br>
        <p>6. 1~5を丁寧に繰り返す。</p><br>
      </div>
      <div class="space">
        <p>
        <div class="point">※ポイント</div>
        </p><br>
        <p>優先順位1番が終わるまで、1番意外しない。2番目以降は見ないようにします。</p><br>
        <p class="text_color_grey">大切な優先順位1位以外を非表示にして、本当に大事なことに全力で取り掛かりましょう！</p><br>
      </div>
      <p class="point">プラスα(優先順位0番を作る)</p><br>
      <p>取り組みやすいダウンサイジングしたサブ目標(または作業)を設定します。</p><br>
      <p class="text_color_grey">簡単な作業で手を動かすことによってやる気や集中力のスイッチを入れます。</p><br>
    </h2>
    <%= link_to "ToDoリストに戻る", task_path(current_user),
                class: "btn-sticky", style: "font-size: 28px; color: #333;" %>
    <%= link_to "ToDoリストを作る", new_task_path,
                class: "btn-sticky", style: "font-size: 28px; color: #333;" %>
  </div>
</div>