<div class="container">
<h1>MACの原則の例</h1>
例1(会社から売上を上げろと言われたとき)
<h2>M=メジャラブル(目標を数値化する)</h2><br>
<h2>○売上を前年比30%アップする</h2><br>
<h2>×売上を上げる</h2><br>
<h2>A＝アクショナブル(ゴールまでの過程(プロセス)を明確化させる)</h2><br>
<h2>○新たに、30社を顧客リストに加える</h2><br>
<h2>×顧客リストを活用する</h2><br>
<h2>C＝コンピテント(目標達成が価値観に基づいているか考える)</h2><br>
<h2>○将来の独立に向けた自分のスキルアップにつながるからやる</h2><br>
<h2>×仕事だからやる</h2>

</div>