<% provide(:title, "MACの原則 編集") %>
<% provide(:button_text, '編集') %>
<% provide(:form_text, '編集します') %>
<%= render 'layouts/side-refferer' %>
<main>
  <section class="todo">
    <div class="log-form">
      <div class="form-title tween-animate-title center-position">MACの原則を<%= yield(:form_text) %></div>
<%= render 'form' %>