<% provide(:title, "MACの原則 新規作成") %>
<% provide(:button_text, '登録') %>
<% provide(:form_text, 'を新規作成します') %>
 <%= render 'layouts/side-refferer' %>
  <main>
    <section class="mac-form">
      <div class="log-form">
        <div class="form-title tween-animate-title">MACの原則<%= yield(:form_text) %></div>
<%= render 'form' %>