<h1 class="nav-left">MACの原則</h1>
<div class="nav-right">
  <%= link_to(content_tag(:i, 'Create！', class: "fas fa-angle-double-right fa-3x
                                faa-horizontal animated-hover fa-pull-right",
                          style: "color: rgb(80,80,80);"), new_mac_path) %>
</div>