<div class=container>
  <div id="main-view" class="main-width">
    <div id="view-list">
      <h1 class="nav-left">MACの原則</h1>
      <div class="nav-right">
        <%= link_to(content_tag(:i, 'Create！', class: "fas fa-angle-double-right fa-3x faa-horizontal animated-hover fa-pull-right",
                                style: "color: rgb(80,80,80);"), new_mac_path) %>
      </div>
    </div>
  </div>
</div>
<% if @user.macs.empty? %>
  <div class="panel-empty">
    <h1>
      <p>ToDoリスト！にようこそ!</p>
      <p>Create!からToDoリスト！を</p>
      <p>作成しましょう！</p>
    </h1>
  </div>
  </div>
<% end %>
<% if @user.macs.any? %>
  <span class="btn-sticky">すべての更新、作成日時を表示,非表示</span>
  <b class="btn-sticky">優先順位1のみ表示</b>
<% end %>