<h1>Sports#show</h1>
<p>Find me in app/views/sports/show.html.erb</p>
<canvas id="spotsChart" width="200" height="200"></canvas>
<script>
    var graphdays = <%== @dayline %>, graphtimes = <%= @timeline %>
</script>
　<script>draw_graph();</script>