<% provide(:image_text, "/graphimage.png") %>
<div id="main-content">
<h2 class="tween-animate-title center-position">グラフイメージ</h2>
<main>
    <div class="content-width center-position">
        <img src=<%= yield(:image_text) %>/>
      </div>