<div id="main-content">
  <aside class="side left">
    <%= link_to(content_tag(:i, '', class: "fas fa-angle-left fa-3x
      faa-horizontal animated-hover", style: "color: rgb(80,80,80);"), root_path) %>
  </aside>
  <main>
    <section class="world">
      <div class="world__inner">
        <div class="world__img cover-slide">
          <img class="img-zoom" src="/plan.jpg" alt=""/>
        </div>
        <div class="world__texts appear left">
          <div class="world__texts-inner">
            <div class="world__title main-title item">
              <span class="purple">Exercise Tracking</span>
              <div class="world__sub sub-title item">エクササイズトラッキング</div>
              <span>へようこそ！</span>
            </div>
            <div class="world__description item">
              <p>運動の習慣化は難易度が高く、</p>
              <p>挫折しやすいと言われています。</p>
              <p>そこで、運動記録をつけて視覚的に見ることで</p>
              <p>モチベーションを上げていきましょう！</p>
            </div>
            <div class="world__btn item">
              <%= link_to new_hiit_path, class: "btn-cubic" do %>
                <span class="hovering">GO!</span><span class="default">運動記録を作成する</span>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>