<section class="world">
  <div class="world__inner">
    <div class="world__img cover-slide">
      <img class="img-zoom" src="assets/Rose-banquet3.jpg" alt=""/>
    </div>
    <div class="world__texts appear left">
      <div class="world__texts-inner">
        <div class="world__title main-title item">
          <span class="purple">LifeHack</span>
          <span>Tools！へようこそ！</span>
        </div>
        <div class="world__sub sub-title item">世界のお花をあなたに</div>
        <div class="world__description item">
          <p>目標達成や習慣化のアシストツールとして
            <br>LifeHack Tools！を活用して
          </p>
          <p> 文字通り人生(Life)をハックしましょう！</p>
        </div>
        <div class="world__btn item">
          <%= link_to "ユーザー登録する！", new_user_path, class: "btn slide-bg" %>
        </div>
      </div>
    </div>
  </div>
</section>