<main>
  <section class="content-width">
    <div class="center-position">
    </div>
    <div class="log-form">
      <div class="form-title tween-animate-title">本サイトの使い方</div>
      <div class="about-contents">
        <h3 class="mb-md">①ゲストユーザー様は簡単ログインのボタンを押すことでワンクリックで登録ができます。<br>
          ※一般の方はサインアップとログインをすることで利用することができます。
        </h3>
        ②「読んだ本の感想を呟こう♪」から@pooks_b宛に読書感想を投稿する

        投稿いただいた感想文は本紹介時の参考にさせていただきます。

        コンセプト
        ートップページから1分以内、3クリックで目当ての本まで辿り着くー
        これを目標にサイト作りを行なっています。

        当サイトで紹介している本のレビューは、Twitterの呟きを参考に載せています。
        本音で書かれたツイートを掲載していますので、安心してお買い上げ頂けます。

        素材をお借りしたサイト様

        Homeの画像でお借りしました
        unsplash.com
        Photo by
        <a href="https://unsplash.com/@weista?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Vista
          Wei</a> on
        <a href="https://unsplash.com/s/photos/flower-bouquet?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>

        ヒーロースライダー画像でお借りしました

        shutterstock.com
        Ukrolenochka様
        sutadimages様


        font Awesome 各種ボタンをお借りしました

        サイト制作スケジュール
        2018年11月15日〜 制作開始

        2018年11月27日 初デプロイ

        管理人プロフィール
        H.N YUUKI

        プロフィール画像

        1993年生まれ。中学生で初めてWebサイトを開設し、以降様々なサイトの運営を経験。大学3年次に開業し、最盛期には月間150万PVのアクセスを獲得。
        現在はWebエンジニアになる為、プログラミングを勉強中。
        趣味はブレイクダンス。地元熊本でBATTLE BOXというダンスイベントを主催していた。

        スマホよりPC派です。
        2chのオフ会に参加するぐらいの中くらいオタクです。
      </div>
