<h1 class="text-center">スモールステップとビッグエリア</h1>
<div class="container">
  <canvas id="spotsChart" width="200" height="200"></canvas>
  <script>
      var graphdays = <%== @dayline %>, graphtimes =
      <%= @timeline %>
  </script>
  　
  <script>draw_graph();</script>
</div>