<% provide(:title, "Edit user") %>
<h1>設定変更</h1>
<%= link_to "LifeHack Toolsを退会する", @user, method: :delete,
            data: {confirm: "本当に退会しますか？"}, style: "color: #333; font-size: 1px;"%>
<%= render partial: 'form', locals: { user: @user } %>