<% provide(:title, "ユーザー情報変更") %>
<% provide(:button_text, '編集') %>
<%= render 'layouts/side-root' %>
  <main>

    <section class="register">
      <div class="log-form">
        <div class="form-title tween-animate-title center-position">ユーザー情報を変更します</div>
<%= render partial: 'users/form', locals: { user: @user } %>
