<% provide(:title, "Edit user") %>
<div class= "site-width">
<h1 class="text-center">ユーザー設定変更</h1>
<%= render partial: 'form', locals: { user: @user } %>
  <div class="container">
<%= link_to "LifeHack Toolsを退会する", @user, method: :delete,
            data: {confirm: "本当に退会しますか？"}, style: "color: #333; font-size: 18px;"%>
  </div>