<% provide(:title, "How to use") %>
<%= render 'layouts/side-root' %>
<main>
  <section class="content-width">
    <div class="center-position">
    </div>
    <div class="log-form">
      <div class="form-title tween-animate-title">本サイトの使い方</div>
      <div class="how_to__contents">
        <h3 class="btn-sticky mb-md">①ログインする</h3><br>
        <h4 class="mb-sm">・ゲストユーザー様は"簡単ログイン"のボタンを押すことでワンクリックで登録ができます。<br>
          ※一般の方はサインアップ(ユーザー登録)をすることで利用することができます。</h4>
        <h3 class="btn-sticky mb-md">②ヘッダーやホーム画面にある各ボタンから各機能を利用する。</h3>
        <h4 class="mb-sm">MACの原則: 現時点で効果の高いゴール(目標)設定です。</h4>
        <div class="mb-md how_to__text">
          ・ゴールを数字で表す<br>
          ・ゴールまでのプロセスを明確化させる<br>
          ・目標達成が自分の価値観に基づいているか?<br>
          以上の3点に注意しつつ、目標設定をすることで目標達成の確率を高めることができます。
        </div>
        <h4 class="mb-sm">If-Thenテクニック:現時点でトップクラスの効果があると言われている習慣化の方法</h4>
        <div class="mb-md how_to__text">
          やるべき行動(then)とそれを行う条件(If)をセットにするのがポイントです。<br>
          なるべく毎日起こりやすい条件と行動を設定するとなお良いです。<br>
          (朝起きたら：〇〇する、仕事から帰ったら：〇〇するなど)を<br>
          一括で登録や編集ができるので、多数のルールを作り習慣化していきましょう！
        </div>
        <h4 class="mb-sm">ToDoリスト/アイビー・リー・メソッド</h4>
        <div class="mb-md how_to__text">
          1日で達成したいこと、優先順位、メモをつけてToDoリストを作ることができます。<br>
          また、アイビー・リー・メソッド(詳しくはToDoリストのTIPSで)など応用して使うこともできます。<br>
          こちらも一括登録、一括編集、一括削除、個別削除をすることができます。<br>
        </div>
        <h4 class="mb-sm">Exercise Tracking：運動した記録をグラフにする</h4>
        <div class="mb-md how_to__text">
          運動の習慣化は難易度が高く、挫折しやすいと言われています。
          そこで、運動記録をつけて毎日チェックすることでモチベーションを上げていきましょう！
          「イメージ」からグラフを作ったときの例を見ることが来ます。
        </div>
        <h3 class="btn-sticky mb-md">③コンセプト</h3>
        <div class="mb-md how_to__text">-ライフハックで習慣化や目標を達成を容易にして人生の向上を目指す-<br>
          <div class="mb-md how_to__text">これを目標にサイト作りを行なっています。<br>
          </div>
        </div>
        <h3 class="btn-sticky mb-md">④素材をお借りしたサイト様</h3>
        <div class="mb-md how_to__text">
          Homeの画像でお借りしました。(フリー素材) Photo by
          <%= link_to "Christin Hume様", "https://unsplash.com/@christinhumephoto?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText", class: "how_to__link" %>
          on
          <%= link_to "Unsplash", "https://unsplash.com/s/photos/macbook?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText", class: "how_to__link" %>
          <br>
          ヒーロースライダー画像でお借りしました。(フリー素材サイト)
          shutterstock.com Ukrolenochka様 sutadimages様<br>
          Font Awesome 各種ボタンをお借りしました。
          ありがとうございました！
        </div>
      </div>
    </div>
