<% provide(:title, ' ユーザー登録') %>
<% provide(:button_text, '登録') %>
<%= render 'layouts/side-root' %>
  <main>
    <section class="register">
      <div class="center-position">
        <h2 class="tween-animate-title">User Registration</h2>
      </div>
      <div class="log-form">
        <div class="form-title tween-animate-title">Sign-up to LifeHack Tools</div>
<%= render partial: 'users/form', locals: { user: @user } %>
  </main>
