<% @users.each do |user| %>
  <li>
    <div class="site-width">
      <h1>
        <%= link_to user.name, user %>
        <% if current_user.admin? && !current_user?(user) %>
          | <%= link_to "delete", user, method: :delete,
                        data: {confirm: "本当にユーザーを削除しますか？"} %>
          </div>
          </h1>
        <% end %>
        </li>
<% end %>