<div class="chart-container" style="position: relative; width: 100%; height: 400px;">
  <canvas id="My_Chart"></canvas>
</div>
<script>
    var graphdays = <%== @dayline %>, graphtimes =
    <%= @timeline %>
</script>
<script>draw_graph();</script>