// Stylesheet: 600px以上のタブレットやモニタで適用
.flex {
  // 横に2列したいときの設定
  flex-direction: row;
  // これを設定しないとflex-basisが変わらない
  flex-wrap: wrap;
}

.flowers {
  &__item {
    flex-basis: 50%;
    margin-bottom: 60px;
  }
}

.popular {
  &__container {
    // 余白を真ん中にしたい
    justify-content: space-between;
  }

  &__item {
    flex-basis: 47%;
  }
}

.register {
  width: 55%;
  margin: 0 auto;
  max-width: 1070px;
  margin-bottom: 80px !important;
  overflow: hidden;
}

.todo {
  width: 60%;
  margin: 4em auto 0;
  max-width: 1070px;

  &__framework {
    margin: 0 auto;
    max-width: 1070px;
    width: 65%;
  }

  &__form {
    border: 1px solid #333;
  }

  &__label {
    width: 100%;
    margin-bottom: 1em;
    padding: 0.5em 0;
    border: none;
    border-bottom: 1px solid;
    outline: none;
    box-sizing: border-box;
    transition: 0.3s;
  }

  &__list {
    border-bottom: 1px solid #333;
    border-radius: 0 !important;
    margin-bottom: 0.1px;
    padding: 20px;
    overflow: hidden;
    background: rgba(250, 240, 230, 0.1);

    &:last-child {
      border-bottom: 0;
    }
  }
}

.world {
  &__inner {
    padding: 50px;

    &__reverse {
      flex-direction: row-reverse;
    }
  }

  &__if {
    flex-direction: unset;
  }

  &__texts,
  &__img {
    flex-basis: 47%;
  }

  &__texts {
    display: flex;
    // 文字を下揃えにするときに便利な設定
    align-items: flex-end;
  }
}

.footer {

  &__nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // 中央揃えにする
    align-items: center;
    text-align: center;
  }

  & .logo {
    // 左寄りにする右寄りはflex-end
    justify-content: flex-start;
  }

  &__li {
    // 検証を使いながら位置調整
    margin-left: 0;
    margin-right: 30px;
  }
}

.hero {
  &__footer {
    position: absolute;
    left: 68%;
    bottom: 10px;
    transform: translateX(-50%);
    z-index: 2;
    height: 68px;
    width: 32px;
    // はみ出した部分を見せない
    overflow: hidden;
  }
}

.ivy {
  &__width {
    width: 70%;
    margin: 0 auto;
    max-width: 1070px;
  }
}