// Stylesheet: 960px以上のモニタで適用
.font-sm {
  font-size: 16px;
}

.font-md {
  font-size: 19px;
}

.font-lr {
  font-size: 23px;
}

.font-lg {
  font-size: 36px;
}

.mb-lg {
  margin-bottom: 150px !important;
}

.pb-lg {
  padding-bottom: 150px !important;
}

// 960以上ではヘッダー表示
.header {
  &__nav {
    display: block;
  }
}

.mobile-menu {
  &__btn {
    display: block;
  }
}

.popular {
  &__item {
    flex-basis: 25%;
  }

  &__img {
    height: 335px;
  }
}

.world {
  &__inner {
    display: flex;
    //もしかしたら必要ないかも
    flex-direction: unset;
  }

  &__todo__background {
    display: flex;
    flex-direction: unset;
  }

  &__mac__background {
    @extend .world__todo__background;
  }

  &__img {
    height: 400px;

    &__reverse {
      height: 525px;
    }
  }

  &__description {
    margin-bottom: 40px;
  }

  &__description-reverse {
    padding-left: 67px;
  }

  &__title {
    // アニメーションを表示するための設定
    &::before {
      // 960px以上のときアニメーションするように設定
      display: block;
    }
  }

  &__todo {
    @extend .world__title;

    &::before {
      display: block;
    }
  }

  &__its {
    @extend .world__title;

    &::before {
      display: block;
    }
  }

}

.main-title-center {
  position: relative;

  &::before {
    display: block;
  }
}

.footer {
  &__ul {
    flex-direction: row;
    margin: 0 auto;
  }

  &__li {
    justify-content: flex-start;
  }
}

// スワイパースライドに影をつける
.swiper-slide {
  box-shadow: 0 8px 40px -10px rgba(0, 0, 0, 0.8);
}

// サイドバー要素を表示する後で消すかも
.side {
  display: block;
}