@import "modules/variables";
//全体の設定
html {
  position: relative;
  min-height: 100%;
}

li {
  list-style: none;
}

.container {
  width: auto;
  max-width: 880px;
}

/* bodyからの設定 */
body {
  margin-bottom: 60px;
  border-top: 6px solid $color-coffee_brown;
  font-family: "SF Pro JP","SF Pro Text","SF Pro Icons","Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3","メイリオ","Meiryo","ＭＳ Ｐゴシック","Helvetica Neue","Helvetica","Arial",sans-serif;
  line-height: 1.47059;
  background-color: $color-white;
  letter-spacing: -.022em;
  color: $color-nobleblack;
  overflow-x: hidden;
  font-style: normal;
}

.center-position {
  flex-direction: row;
  display: flex;
  justify-content: center;
}