@import "variables";

//ベーススタイル(ここではスマホ用の設定をしているよ)
html {
  position: relative;
  width: 100%;
}

/* bodyからの設定 */
body {
  margin-bottom: 60px;
  border-top: 6px solid $color-coffee_brown;
  font-family: "SF Pro JP", "SF Pro Text", "SF Pro Icons", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  line-height: 1.47059;
  background-color: $color-white;
  letter-spacing: -.022em;
  color: $color-nobleblack;
  overflow-x: hidden;
  font-style: normal;
}

//画像の基本設定
img {
  max-width: 100%;
  vertical-align: bottom;
}

//共通クラス
.font-sm {
  font-size: 14px;
}

.font-md {
  font-size: 17px;
}

.font-lr {
  font-size: 17px;
}

.font-lg {
  font-size: 25px;
}

.mb-sm {
  margin-bottom: 16px !important;
}

.mb-lg {
  margin-bottom: 80px !important;
}

.pb-sm {
  padding-bottom: 16px !important;
}

.pb-lg {
  padding-bottom: 80px !important;
}

.content-width {
  width: 90%;
  margin: 0 auto;
  max-width: $contentMaxWidth;
}
.form-width {
  width: 55%;
  margin: 0 auto;
  max-width: $contentMaxWidth;
}
//テキストアニメーションするよ
.main-title {
  //継承することで、画面の大きさが変わっても今の画面の設定が適応される
  @extend .font-lg;
  font-weight: 600;
  margin-bottom: 0;
  // 一行に重ならないようにする
  display: block;
}
.main-title-center {
  @extend .main-title;
  text-align: center;
}
//テキストアニメーションするよ
.sub-title {
  @extend .font-sm;
  color: $cSubTitle;
}
.sub-title-center {
  @extend .sub-title;
  text-align: center;
}

//後で使い回せる
.flex {
  display: flex;
  flex-direction: column;
}

.purple {
  color: $cWineRed;
}
.coffee {
  color: $color-coffee_brown;
}
#container {
  background-color: $cWhite;
  position: relative;
  z-index: 10;
  transition: transform 0.5s, box-shadow 0.5s;
}

// サイドバーのローカルスタッキングコンテキストを作るための設定
#main-content {
  position: relative;
  z-index: 0;
}

// サイドバーより背面にしたい部分
main {
  position: relative;
  z-index: -1;
}

//ロゴの設定
.logo {
  font-size: 42px;
  display: flex;

  &__img {
    width: 0.7em;
  }

  &__Garden {
    color: $cWineRed;
  }
}

.center-position {
  flex-direction: row;
  display: flex;
  justify-content: center;
}
li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  color: $color-nobleblack;
}

h1 {
  font-size: 3em;
  letter-spacing: -3px;
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  font-weight: bold;
}

h3 {
  text-align: left;
  list-style: none;
}

p {
  margin: 5px 0;
}

a:hover {
  background: $color-thin_grey!important;
}

