//チェックボックスの設定
.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
}

.remember_me {
  width: 12%!important;
}

.check-right {
  margin-left: 20px;
  font-weight: normal;
}

.steps_box {
    position: relative;
    top: 0;
    left: 10px;
    right: 0;
    bottom: 0;
    margin: auto;
    transform: scale(3);
}

input {
  margin: 30px 0;
}

.inputWithIcon input:focus {
  border-color: dodgerBlue!important;
  box-shadow: 0 0 8px 0 dodgerBlue;
}

.inputWithIcon input {
  width: 100%;
  border: 2px solid #aaa;
  border-radius: 4px;
  outline: none;
  padding: 8px;
  box-sizing: border-box;
  transition: 0.3s;
}

.inputWithIcon {
  position: relative;
}

