@import "base";
//チェックボックスの設定
.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;

  &.inline {
    @extend .content-width;
  }
}

.remember_me {
  width: 12% !important;
}

.check-right {
  font-weight: normal;
}

.steps_box {
  position: relative;
  top: 0;
  left: 40%;
  right: 0;
  bottom: 0;
  margin: auto;
  transform: scale(3);
}

input {
  margin: 30px 0;

  &submit {
    background: #1d1d1f !important;
  }
}

input[type="file"]:focus {
  outline: 1px;
}
.file-upload_area {
  margin-bottom: 20px;
  position: relative;
  .file-upload_input {
    &::before {
      background: $cWhite;
      color: $color-nobleblack;
      content: 'ファイルを選択';
      font-size: 21px;
      left: 0;
      position: absolute;
      top: 29px;
      display: inline-block;
      border: 1px solid $cBlack;
      font-weight: 600;
      cursor: pointer;
      transition: all 0.3s;
      text-decoration: none !important;
    }
  }
  input[type="file"]::-webkit-file-upload-button {
    background-color: $cWhite;
    border: 0;
  }
}
.inputWithIcon input {
  width: 100%;
  margin-bottom: 2em;
  padding: .5em 0;
  border: none;
  border-bottom: 1px solid;
  outline: none;
  box-sizing: border-box;
  transition: 0.3s;
}

.inputWithIcon {
  position: relative;
}

.default {
  cursor: default !important;
}