@import "variables";
@import "base";

.alert-width {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 28px;
}

.alert {
  @extend .font-lg;

  &__alert {

    &-success {
      background: #D5EDDA;
      color: #50835B;
      @extend .alert-width;
    }

    &-notice {
      background: #CBE5FE;
      color: #3F71A0;
      @extend .alert-width;
    }

    &-danger {
      background: #F7D7DA;
      color: $cWineRed;
      @extend .alert-width;
    }
  }

  &-danger {
    @extend .alert__alert-danger;
  }

  &-success {
    @extend .alert__alert-success;
  }
}

//エラーメッセージの設定
#error_explanation {
  color: red;
}




