@import "modules/variables";
.example_1 {
  border-top: 2px solid $color-thin_black;
  padding: 10px;
  margin-top: 80px;
}

.example_2 {
  border-top: 2px solid $color-thin_black;
  padding: 10px;
}

.example_3 {
  border-top: 2px solid $color-thin_black;
  border-bottom: 2px solid $color-thin_black;
  padding: 10px;
  margin-bottom: 10px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}