@import "modules/variables";
// フッターを固定、センター
.footer {
  position: absolute;
  bottom: 0;
  margin-top: 25px;
  width: 100%;
  height: 70px;
  background-color: $color-coffee_brown;
  //background: #1d1d1f;
  ul li {
    display: inline;
  }
}

footer ul li a:hover,
footer ul li a:active {
  background: $color-coffee_brown!important;
  text-decoration: none;
  color: $color-nobleblack;
}

.text {
  text-align: center;
}

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.footer-link {
  font-size: 40px;
  font-weight: bold;
  color: $color-white;
}