@import "variables";
@import "base";

//フッターの設定はここだでな
.footer {
  padding: 30px 0;
  @extend .content-width;
  display: flex;
  align-items: center;
  z-index: 100;


  &__nav {
    @extend .flex;
    justify-content: space-between;
    // 中央揃えにする
    align-items: center;
    text-align: center;
  }

  &__link {
    color: $cWineRed;
    font-weight: 600;
    margin-left: 3px;

    &__tools {
      @extend .footer__link;
      color: $color-nobleblack !important;
    }
  }

  &__blog {
    font-size: 34px;
    font-weight: 300;
    color: $color-nobleblack !important;
  }

  &__others {
    @extend .footer__blog;
    margin-left: 20px;
  }
  &__ul {
    @extend .flex;
    // パディングやマージンを初期化
    padding: 0;
    margin: 0;
    list-style: none;
    align-items: center;
  }

  &__li {
    padding: 0;
    margin: 10px;

    & > a {
      color: $cWineRed;
      text-decoration: none !important;
    }
  }

  & .logo {
    font-size: 38px;
    // 中央揃えにする
    justify-content: center;
  }
}