@import "variables";
@import "base";

//フッターの設定はここだでな
.footer {
  padding: 60px 0;
  @extend .content-width;


  &__nav {
    @extend .flex;
    justify-content: space-between;
    // 中央揃えにする
    align-items: center;
    text-align: center;
  }

  &__ul {
    @extend .flex;
    // パディングやマージンを初期化
    padding: 0;
    margin: 0;
    list-style: none;
    align-items: center;
  }

  &__li {
    padding: 0;
    margin: 10px;
    & > a {
      color: $cSubTitle;
    }
  }

  & .logo {
    font-size: 38px;
    // 中央揃えにする
    justify-content: center;
  }
}