@import "variables";
@import "mixin";
@import "base";
// ヒーロースライダーの設定はここで決めている
.swiper-container {
  //!important;にすると表示おかしくなるので一旦起き
  //overflow: visible !important;
}

.swiper-slide {
  height: 500px !important;
  // 拡大してはみ出た部分を表示しない
  overflow: hidden;

  & > img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    object-fit: cover;
    // 拡大する
    transform: scale(1.3);
    transition: transform 1.9s ease;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 61, 125, 0.1);
  }

  &-active {
    & > img {
      transform: none;
    }

    & .hero__title {
      // 透明度を解除
      opacity: 1;
      transform: translate(-50%, -50%);
    }
  }
}

.hero {
  overflow: hidden;
  padding-top: 50px;
  @extend .pb-lg;

  &__title {
    position: absolute;
    //文字の位置
    top: 80%;
    left: 50%;
    transform: translate(-50%, calc(-50% + 20px));
    color: $color-nobleblack;
    font-size: 30px;
    font-weight: 800;
    // 文字が最前面にくるようにする
    z-index: 2;
    opacity: 0;
    transition: opacity 0.3s ease 1s, transform 0.3s ease 1s;
  }

  &__todo {
    @extend .hero__title;
    top: 90%;
    left: 65%;
  }

  &__if {
    @extend .hero__title;
    font-size: 28px;
  }

  &__mac {
    @extend .hero__title;
    top: 90%;
  }

  &__footer {
    position: absolute;
    left: 90%;
    bottom: 10px;
    transform: translateX(-50%);
    z-index: 2;
    height: 68px;
    width: 32px;
    // はみ出した部分を見せない
    overflow: hidden;
  }

  &__downarrow {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 6px;
    // アニメーションを付けるために必要
    @include animation(
            $name: kf-arrow-anime,
            $iteration-count: infinite,
            $duration: 2s,
            $timing-function: linear
    );
  }

  &__scrolltext {
    position: absolute;
    // 90度回転
    transform: rotate(90deg);
    color: $color-nobleblack;
    left: -8px;
    top: 15px;
    font-size: 1.2em;
  }
}

@keyframes kf-arrow-anime {
  0%,
  50%,
  100% {
    transform: translateY(-10%);
  }
  30% {
    transform: none;
  }
}
