@import "variables";
@import "base";

.if {
  &__then {
    width: 90%;
    @extend .content-width;
  }

  &__space {
    min-height: 85px;
  }

  &__form {
    border: 1px solid;
  }

  &__text {
    font-size: 20px;
  }

  &__width {
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
  }
}

.wrapper {
  width: 100%;
  display: flex;
  @extend .content-width;
}

.info_1 {
  padding: 0 5px;
  border-right: 1px dotted $color-thin_black;
}

.info_2 {
  padding: 0 5px;
}

.color-grey {
  color: $color-grey;
  flex-direction: column;
  display: contents;
  font-size: 28px;
}

.sub-title-grey {
  color: $color-grey;
  flex-direction: column;
  display: contents;
}

.adjust {
  margin-bottom: 30px;
}

.column {
  width: 100%;
  min-width: 49%;
}

@media all and (min-width: 500px) {
  .wrapper {
    display: flex;
  }
}

//.if-list {
//  font-size: 40px;
//  margin: 20px 0;
//}

.process {
  border-top: 2px solid $color-thin_black;
  flex-direction: column;
  display: flex;
}