@import "variables";
@import "base";

.if-then{
  width: 80%;
  @extend .content-width;
}
.if-space {
  min-height: 85px;
}

.wrapper {
  width: 100%;
  @extend .content-width;
}

.info_1 {
  padding: 0 15px;
  border-right: 1px dotted $color-thin_black;
}

.info_2 {
  padding: 0 15px;
}

.color-grey {
  color: $color-grey;
  flex-direction: column;
  display: contents;
  font-size: 28px;
}

.if_text {
  font-size: 20px;
}

.sub-title-grey {
  color: $color-grey;
  flex-direction: column;
  display: contents;
}

.if-form {
  border: 1px solid;
}

.adjust {
  margin-bottom: 30px;
}

.it-width {
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
}

.column {
  width: 100%;
  padding: 0 10px;
}
@media all and (min-width: 500px) {
  .wrapper {
    display: flex;
  }
}

.if-list {
  font-size: 40px;
  margin: 20px 0;
}

.process {
  border-top: 2px solid $color-thin_black;
  flex-direction: column;
  display: flex;
}