@import "variables";
.ivy {
  width: 100%;
  //border: 2px solid #aaa;
  margin-bottom: 2em;
  padding: .5em 0;
  border: none;
  border-bottom: 1px solid;
  outline: none;
  box-sizing: border-box;
  transition: 0.3s;

  &__title {
    color: $color-nobleblack;
    font-size: 1.35em;
    display: block;
    background: rgba(255, 255, 255, 0.95);
    text-transform: uppercase;
    padding: 0.75em 1em 0.75em 1.5em;
    box-shadow: 0 1px 1px;
    border: 1px solid rgba(0, 0, 0, .45);
    font-weight: 200;
    margin: 1.5em 0;
  }

  &__description {
    margin: 10px 0 30px;
    font-size: 24px;
    color: $color-grey;
    text-align: center;
  }
}
.text_color_grey {
  color: $color-grey;
}

.point {
  font-size: 30px;
}

.space {
  margin: 15px 0;
}



