@import "variables";
@import "base";
@import "button";
.align-left {
  font-size: 24px;
  text-align: left;
  margin: 20px 0;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.mac {
  width: 100%;
  margin-bottom: 2em;
  padding: .5em 0;
  border: none;
  border-bottom: 1px solid;
  outline: none;
  box-sizing: border-box;
  transition: 0.3s;

  &__title {
    color: $color-nobleblack;
    font-size: 1.35em;
    display: block;
    background: rgba(255, 255, 255, 0.95);
    padding: 0.75em 1em 0.75em 1.5em;
    box-shadow: 0 1px 1px;
    border: 1px solid rgba(0, 0, 0, .45);
    font-weight: 200;
    margin-bottom: 40px;
  }

  &-form {
    box-shadow: 0 2px 5px rgba(0,0,0,.25);
    width: 60%;
    margin: 0 auto;
  }

  &-width {
    width: 70%;
    margin: 0 auto;
    overflow: hidden;
  }

  &-content {
    text-align: left;
    list-style: none;
    font-weight: 500;
    color: #1d1d1f;
  }

  &-title {
    color: $color-white;
    font-size: 1.35em;
    display: block;
    background: rgba(42, 42, 42, 0.95);
    box-shadow: 0 1px 1px;
    border: 1px solid rgba(0, 0, 0, .45);
    font-weight: 200;
    padding: 0.75em 1em 0.75em 1.5em;
    text-align: center;
  }
}


.goal {
  font-size: 2.3em;
  font-weight: 800;
}

.process {
  border-top: 1px dotted $color-thin_black;
  @extend .goal;
}

.grey {
  color: $color-grey;
  &__mac {
    color: $color-grey;
    border-bottom: 0.5px dotted;
  }
}


.panel-mac {
  border: 2.5px solid $color-thin_black;
  margin: 0 auto;
  padding: 30px;
  overflow: hidden;
  @extend .mb-sm;
}

.icon-position {
  justify-content: right;
  flex-direction: row;
  display: flex;
}

.mac-form-red {
  @import "button";
  cursor: none;
}
