@import "variables";
/*ページネーション自体のデザイン*/

.pagination {
  display: flex;
  justify-content: center;
    & a {
      color: #330000;
      background: $cWineRed;
      border: 1px solid rgba(3, 0, 0, 0.4);
      border-radius: 25px !important;
    }

  & li {

    &.active {
      transform: scale(1.3);
      width: auto;
      max-width: 880px;
      color: $color-nobleblack !important;
      /* 表示しているページ番号のデザイン */
    }
    & a {
      display: block;
      width: 48px;
      height: 48px;
      text-align: center;
      line-height: 40px;
      margin: 10px;
      background: $cWineRed;
      color: #F5FFFA;

      /*ホバー時のデザイン*/
      &:hover {
        color: #333333 !important;
        border-radius: 25px !important;
        text-decoration: none;
      }
    }
  }
}

