@import "variables";
//□で囲まれているものの設定Taskなど
.todo-top {
  margin-top: 1em;
  //border-bottom: 2.5px solid $color-coffee;
}

.panel-empty {
  border: 2.5px solid $color-thin_black;
  border-radius: 10px;
  padding: 30px;
  margin: 15px 0;
  overflow: hidden;
  background: rgba(250, 240, 230, 0.1);
}

.panel-left {
  float: left;
  width: 80%;
  position: relative;
}

.panel-left p {
  padding-bottom: 10px;
}