@import "variables";
@import "base";
//ToDoリストの中の設定
ul h2 {
  margin: 10px 0 15px 15px;
  font-size: 30px;
}


.my__todo {
  @extend .content-width;
}

.tasks {

  &__time {
    color: rgb(80, 80, 80);
    margin: 10px 0 15px 15px;
  }

  //Todoリストのチェックボックス
  &-checkbox {
    width: 10%;
    transform: scale(3);
    margin: 0 auto !important;
  }
}

.tasks-form {

  &-field {
    margin: 5px 0;
    width: 100%;
    height: 40px;
    display: block;
    box-sizing: border-box;
    border: 1px solid #333;
  }

  &-area {
    @extend .tasks-form-field;
    height: 100px;
  }

  &-box {
    @extend .tasks-form-field;
  }
}

.bomb {
  margin: 10px 0;
}



