@import "variables";
//ToDoリストの中の設定
ul h2 {
  margin: 10px 0 15px 15px;
  font-size: 30px;
}

.tasks-time {
  color: rgb(80, 80, 80);
  margin: 10px 0 15px 15px;
}



//Todoリストのチェックボックス
.tasks-checkbox {
  width: 5%;
  transform: scale(3);
  margin: 8px 0 0 -30px!important;
}

.bomb {
  margin: 10px 0;
}
