@import "variables";
//ToDOリストで使っているスタイルをここに設置
.todo {
  width: 80%;
  margin: 4em auto 0;
  max-width: $contentMaxWidth;

  &__label {
    width: 100%;
    margin-bottom: 1em;
    padding: 0.5em 0;
    border: none;
    border-bottom: 1px solid;
    outline: none;
    box-sizing: border-box;
    transition: 0.3s;
  }

  &__list {
    border-bottom: 1px solid $color-nobleblack;
    border-radius: 0 !important;
    margin-bottom: 0.1px;
    padding: 20px;
    overflow: hidden;
    background: rgba(250, 240, 230, 0.1);
    &:last-child {
      border-bottom: 0;
    }
  }
}

.priority {
  width: 100%;
  padding: 0.25em 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  transition: 0.3s;
}

#new-list {
  font-size: 24px;
  margin-bottom: 40px;
}

.todo-form {
  border: 1px solid #333;
}

.tasks-form-field {
  margin: 5px 0;
  width: 100%;
  height: 40px;
  display: block;
  box-sizing: border-box;
  border: 1px solid #333;
}

.tasks-form-area {
  margin: 5px 0;
  width: 100%;
  height: 100px;
  display: block;
  box-sizing: border-box;
}

