@import "variables";
@import "base";
//ToDOリストで使っているスタイルをここに書く
.todo {
  width: 90%;
  margin: 4em auto 0;
  max-width: $contentMaxWidth;

  &__form {
    border: 1px solid #333;
  }
  &__framework {
    @extend .content-width;
  }
  &__label {
    width: 100%;
    margin-bottom: 1em;
    padding: 0.5em 0;
    border: none;
    border-bottom: 1px solid;
    outline: none;
    box-sizing: border-box;
    transition: 0.3s;
  }

  &__title {
    color: $color-white;
    font-size: 1.35em;
    display: block;
    text-align: center;
    background: rgba(42, 42, 42, 0.95);
    padding: 0.75em 1em 0.75em 1.5em;
    box-shadow: 0 1px 1px;
    border: 1px solid rgba(0, 0, 0, .45);
    font-weight: 200;
  }

  &__list {
    border-bottom: 1px solid $color-nobleblack;
    border-radius: 0 !important;
    margin-bottom: 0.1px;
    padding: 20px;
    overflow: hidden;
    background: rgba(250, 240, 230, 0.1);

    &:last-child {
      border-bottom: 0;
    }
  }
}
.priority {
  width: 100%;
  padding: 0.25em 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  transition: 0.3s;
}

#new-list {
  font-size: 24px;
  margin-bottom: 40px;
}

