<div class="content-width">

<p class="mt-4">青いボタンが表示されていれば，「Bootstrap」の導入はOKです</p>
<button type="button" class="btn btn-primary btn-block">ボタン</button>

<p class="mt-4">フォームをクリックしたときに，青色の帯のカレンダーが出れば「flatpickr」の導入はOKです</p>
<input class="form-control bg-white my-4" id="date-form" type="text" placeholder="日付を設定" readonly>

<p class="mt-4">棒グラフ・折れ線グラフが表示されていれば，「Chart.js」の導入はOKです</p>
<div class="row">
  <canvas id="line-chart" class="col-md-6 col-12"></canvas>
</div>
</div>
