//全体の設定
html {
  position: relative;
  min-height: 100%;
}
/* bodyからの設定 */
body {
  margin-bottom: 60px;
  border-top: 6px solid #614226;
  font-family: "SF Pro JP","SF Pro Text","SF Pro Icons","Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3","メイリオ","Meiryo","ＭＳ Ｐゴシック","Helvetica Neue","Helvetica","Arial",sans-serif;
  line-height: 1.47059;
  background-color: #fff;
  letter-spacing: -.022em;
  color: #1d1d1f;
  overflow-x: hidden;
  font-style: normal;
}

li　{
  list-style: none !important;
}