//チェックボックスの設定
.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;

  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

input[type="checkbox"]{
  margin: 8px 0 0;
}


//チェックボックスの設定
ul input {
  width: 5%;
  transform: scale(3);
}

