@import "bootstrap-sprockets";
@import "bootstrap";

// ※ここからindexの設定だよOK
// 全体的に真ん中にする
.guidance {
  font-size: 26px;
  list-style: none;
  margin-top: 30px;
  line-height: 200%;
}
.btn-sticky {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #f7f7f7;
  border-left: solid 6px #ff7c5c;/*左線*/
  color: #ff7c5c;/*文字色*/
  font-weight: bold;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
}
.btn-sticky:active {
  box-shadow: inset 0 0 2px rgba(128, 128, 128, 0.1);
  transform: translateY(2px);
}
.btn-stickey:hover {
  color: #ff7c5c;
}

.site-width {
  width: 60%;
  margin: 0 auto;
  overflow: hidden;
}
.main-width {
width: 85%;
height: 800;
margin: 0 auto;
overflow: hidden;
}
// ナビバーから少し下にするOK
#view-list {
    float: left;
    width: 100%;
    margin: 20px 0px auto;
}
.nav-wrapper {
    overflow: hidden;
    width: 100%;
    margin: 10px 0;
}

.nav-left {
    font-size: 34px;
    float: left;
}

.nav-right {
    float: right;
    margin: 10px 0px;
}
// メイン部分のスタイルOK
.panel {
    border: 2.5px solid #905523;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 30px;
    overflow: hidden;
}
.panel-empty {
    border: 2.5px solid #905523;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 30px;
    overflow: hidden;
    background: rgba(250, 240, 240, 0.1);
}
.panel-left {
    float: left;
    width: 80%;
}
.panel-left p {
    padding-bottom: 10px;
}

// // indexの配置概ねOK
.center {
  text-align: center;
  h1 {
    margin-bottom: 0px;
  }
}
.Icon-position {
  text-align: right;

}
ul input {
  width: 5%;
  transform: scale(3);

}
ul h2 {
  margin: 10px 0px 15px 15px;
  font-size: 30px;
}
// リストのレイアウト
#panel{
  font-size: 2em;
  margin-bottom: 30px;
  width: 250;
  height: 100px;
  border: 3px solid #05BFFE;
  text-align: left;
  border-radius: 10px;
  padding: 10px;
  overflow: auto;
}

// ここからnewとeditの部分、フォント整え
// 幅とか色々

#new-list {
  list-style: none;
  font-size: 16px;
  margin-bottom: 30px;
}

.new-todo-list-form {
  padding: 40px;
  border: 2.5px solid #905523;
  margin-bottom: 30px;
  border-radius: 10px;
  overflow: hidden;
}
.label {
  background: #fffaf4;/*背景色*/
  border-left: solid 5px #ffaf58;/*左線（実線 太さ 色）*/
  color: #333;
}
.form-field {
  margin: 16px auto;
  width: 100%;
  height: 40px;
  display: block;
  box-sizing: border-box;
  border: 2.5px solid #200200200;
  border-radius: 10px
}
.form-area {
  margin: 10px auto;
  width: 100%;
  height: 100px;
  display: block;
  box-sizing: border-box;
  border: 2.5px solid #200200200;
  border-radius: 10px
}
//ボタン
.btn-submit {
  width: 70%;
  margin: 10px 10px 0px 80px;
  font-size: 18px;
  height: 50px;
  color: #333;
  background-color: #ffaf58;
  border-color: #614226;
  border-radius: 10px;

}

// ココから下もOK
/* forms */
.login-form {
  font-size: 20px;
  height: 360px;
  margin: 20px 10px;
  padding: 40px;
  border: 2.5px solid #905523;
  border-radius: 10px;
  overflow: hidden;

}

input, textarea, select, .uneditable-input {
  border: 2px solid #bbb;
  width: 60%;
  margin-bottom: 15px;
}

// input {
//   height: auto !important;
// }

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}
