// header-begin
header {
  width: 100%;
  height: 80px;
  //background: rgba(0,0,0,0.8)!important;
  overflow: hidden;
  padding: 20px;
  //justify-content: space-between;
  .navbar-nav > li > a {
    padding: 0 !important;
  }

  nav ul li a {
    display: block;
    text-decoration: none;
    height: 200px;
    color: #333;
    justify-content: space-between;
    font-weight: bold;
    line-height: 1;
    margin: 5px 10px;
  }
}

header nav ul li a:hover,
header nav ul li a:active {
  background: rgba(250, 240, 200, 0.1);
  text-decoration: underline;
}

.container {
  width: auto;
  max-width: 880px;
  //display: flex;
  //flex-direction: row;
  //justify-content: flex-end;
}

