@import "color";
#ivy {
  margin: 10px 0 15px 15px;
  font-size: 20px;
  color: $color-grey;
  text-align: center;
}

#ivy-background {
  //background: $color-grey_background;
//background: #131313;
}

.text_color_grey {
  color: $color-grey;
}