@import "variables";
#ivy {
  margin: 10px 0 0;
  font-size: 24px;
  color: $color-grey;
  text-align: center;
}

.text_color_grey {
  color: $color-grey;
}

.point {
  font-size: 30px;
}

.space {
  margin: 15px 0;
}