/* ログインフォームの設定 */
.login-form {
  font-size: 20px;
  height: 480px;
  margin: 10px auto;
  padding: 40px;
  border: 2.5px solid #905523;
  border-radius: 10px;
  overflow: hidden;
  max-width: 80%;
}

input, textarea, select, .uneditable-input {
  border: 2px solid #bbb;
  width: 12%;
}

