/* ログインフォームの設定 */
.login-form {
  font-size: 20px;
  height: 400px;
  margin: auto;
  padding: 40px;
  border: 2.5px solid #905523;
  border-radius: 10px;
  overflow: hidden;
  max-width: 80%;
}

input, textarea, select, .uneditable-input {
  border: 2px solid #bbb;
  width: 60%;
  margin-bottom: 15px;
}

// input {
//   height: auto !important;
// }