//newとeditの部分、フォント整え
#new-list {
  list-style: none;
  font-size: 24px;
  margin-bottom: 40px;
}

.new-todo-list-form {
  padding: 20px 40px 40px 40px;
  border: 2.5px solid #905523;
  margin: 20px 0;
  border-radius: 10px;
  overflow: hidden;
}

.label {
  background: #fffaf4 !important; /*背景色*/
  border-left: solid 5px #ffaf58; /*左線（実線 太さ 色）*/
  color: #333;
}

.form-field {
  margin: 24px auto;
  width: 100%;
  height: 40px;
  display: block;
  box-sizing: border-box;
  border: 2.5px solid #200200200;
  border-radius: 10px;
}

.form-box {
  margin: 10px 0;
  width: 10%;
  height: 40px;
  display: block;
  border-radius: 10px;
}

.form-area {
  margin: 10px auto;
  width: 100%;
  height: 100px;
  display: block;
  box-sizing: border-box;
  border: 2.5px solid #200200200;
  border-radius: 10px
}

//登録ボタン
.btn-submit {
  width: 70%;
  margin: 10px 10px 0 80px;
  font-size: 18px;
  height: 50px;
  color: #333;
  background-color: #ffaf58;
  border-color: #614226;
  border-radius: 10px;
}