@import "color";
//newとeditの部分、フォント整え
#new-list {
  font-size: 24px;
  margin-bottom: 40px;
}

.new-todo-list-form {
  padding: 20px 40px 40px 40px;
  border: 2.5px solid $color-coffee_brown;
  margin: 20px 0;
  border-radius: 10px;
  overflow: hidden;
}

