//□で囲まれているものの設定Taskなど
.panel {
  border: 2.5px solid #905523;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 30px;
  overflow: hidden;
  background: rgba(250, 240, 230, 0.1);
}

.panel-empty {
  border: 2.5px solid #905523;
  border-radius: 10px;
  padding: 20px;
  margin: 15px 0;
  overflow: hidden;
  background: rgba(250, 240, 230, 0.1);
}

.panel-left {
  float: left;
  width: 80%;
}

.panel-left p {
  padding-bottom: 10px;
}