// show.html.erbの上部の設定ナビバーから少し下にする
#view-list {
  float: left;
  width: 100%;
  margin: 10px 0 auto;
}

//ToDoリスト！の位置設定
.nav-left {
  font-size: 34px;
  float: left;
}

//Create!の位置設定
.nav-right {
  float: right;
  margin: 10px 0px;
}