@import "color";
/* swipe内の設定 */
.slip-reordering {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.45);
}

.slip-swiping-container {
  overflow-x: hidden;
}

.slippylist li {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  cursor: grab;

  &:active {
    cursor: grabbing;
  }
}

/*  */
.slippylist li.demo-allow-select {
  padding: 1em;
  line-height: 3.3;
  user-select: text;
  -moz-user-select: text;
  -webkit-user-select: text;
}

.slippylist li.demo-allow-select span {
  cursor: text;
}


.slippylist {
  clear: left;
  margin: 1em;
  padding: 0 0 1px;

}

.slippylist li {
  display: block;
  position: relative;
  border: 1px solid black;
  background: white;
  margin: 0 auto;
  padding: 0 1em;
  border-radius: 3px;
  margin-bottom: -1px;
  max-width: 80%;
  line-height: 5em;
  vertical-align: middle;
}

.slippylist input {
  vertical-align: middle;
}

.slippylist .instant::after {
  content: " \2261";
}

.slippylist .instant {
  float: right;
}

.skewed {
  transform: rotate(2deg) scale(0.99);
  -webkit-transform: rotate(2deg) scale(0.99);
}

.demo-no-swipe.demo-no-reorder {
  opacity: 0.5;
}

#scroll {
  overflow-y: scroll;
  max-height: 300px;
}
