@import "color";
//ToDoリストの中の設定
ul h2 {
  margin: 10px 0 15px 15px;
  font-size: 30px;
}

.tasks-time {
  color: rgb(80, 80, 80);
  margin: 10px 0 15px 15px;
}

.btn-sticky-blue {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #fafafa;
  border-left: solid 6px $color-thin-blue; /*左線*/
  color: $color-nobleblack!important; /*文字色*/
  font-weight: bold;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.29);
  margin-bottom: 10px;
}

//Todoリストのチェックボックス
.tasks-checkbox {
  width: 5%;
  transform: scale(3);
  margin: 8px 0 0 -30px!important;
}

.bomb {
  margin: 10px 0;
}
