@import "color";
h1, h2, h3, h4, h5, h6 {
  //line-height: 1;
  font-weight: 600;
  color: $color-nobleblack;
}

h1 {
  font-size: 3em;
  letter-spacing: -3px;
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

h3 {
  text-align: left;
  list-style: none;
}

p {
  margin: 5px 0;
}

a:hover {
  background: $color-thin_grey!important;
}

