/* universal */
body {
  margin-bottom: 60px;
  border-top: 8px solid #614226;
  font-family: "Hiragino Kaku Gothic ProN", "メイリオ", sans-serif;
  line-height: 150%;
  background: rgba(250,240,230, 0.4);
  overflow-x: hidden;
}

li　{
  list-style: none;
}