input {
  margin: 30px 0;
}

.inputWithIcon input:focus {
  border-color: dodgerBlue!important;
  box-shadow: 0 0 8px 0 dodgerBlue;
}

.inputWithIcon input {
  width: 100%;
  border: 2px solid #aaa;
  border-radius: 4px;
  outline: none;
  padding: 8px;
  box-sizing: border-box;
  transition: 0.3s;
}

.inputWithIcon {
  position: relative;
}


