<% flash.each do |message_type, message| %>
  <div class="flash time-limit">
    <div class="text-center">
    <div class="alert alert-<%= message_type %>">
      <%= message %>
    </div>
    </div>
  </div>
<% end %>