</div>
<!--ローカルスタッキングコンテキストを閉じるためのdiv-->
<footer class="footer appear up">
  <nav class="footer__nav">
    <ul class="footer__ul">
      <div class="logo item">
        <li class="footer__li item">
          <%= link_to 'LifeHack Tools！', root_url, style: "color: #333;" %>
        </li>
      </div>
      <li class="footer__li item"><a href="#">Service</a></li>
      <li class="footer__li item"><a href="#">Contact</a></li>
      <li class="footer__li item"><a href="#">Company</a></li>
      <li class="footer__li item"><a href="#">Sitemap</a></li>
      <div class="footer__copyright item">&copy Ota
    </ul>
    </div>
  </nav>
</footer>


