<footer class="footer appear up">
  <nav class="footer__nav">
    <ul class="footer__ul">
      <div class="logo item">
        <%= link_to 'LifeHack Toolsï¼', root_url, style: "color: #333;" %>
      </div>
      <li class="footer__li item"><a href="#">Service</a></li>
      <li class="footer__li item"><a href="#">Contact</a></li>
      <li class="footer__li item"><a href="#">Company</a></li>
      <li class="footer__li item"><a href="#">Sitemap</a></li>
    </ul>
    <div class="footer__copyright item">&copy Ota</div>
  </nav>
</footer>
<script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
</html>