<footer class="footer">
    <div class="text">
      <ul>
        <li>
          <%= link_to(content_tag(:i, '', class: "fab fa-twitter fa-3x faa-wrench animated-hover",
                                  style: "color: #fff;"), "https://twitter.com/suzutuki0149") %>
          <%= link_to(content_tag(:i, '', class: "fab fa-bootstrap fa-3x faa-vertical animated-hover",
                                  style: "color: #fff;"), "https://getbootstrap.com/") %>
          <%= link_to(content_tag(:i, '', class: "fab fa-font-awesome-alt fa-3x faa-vertical animated-hover",
                                  style: "color: #fff;"), "https://fontawesome.com/") %>
        </li>
      </ul>
      <%= link_to 'Copyright © LifeHack Tools！!All Rights Reserved.', root_url, style: "color: #fff;" %>
    </div>
  </div>
</footer>
</body>
</html>