  <footer class="footer">
  <div class="container">
    <div class="text">
  <ul>
    <li>
    <!--ココにフォントオーサムのアイコンを入れたい＋大きくしたい-->
    <%=link_to(content_tag(:i,'',class:"fab fa-twitter fa-3x faa-wrench animated-hover",style: "color: rgb(230,230,240);"),"https://twitter.com/home?lang=ja")%>
    <%=link_to(content_tag(:i,'',class:"fab fa-bootstrap fa-3x faa-vertical animated-hover",style: "color: rgb(230,230,240);"),"https://getbootstrap.com/")%>
    <%=link_to(content_tag(:i,'',class:"fab fa-font-awesome-alt fa-3x faa-vertical animated-hover",style: "color: rgb(230,230,240);"),"https://fontawesome.com/")%>
    </li>
  </ul>
    Copyright © To Do リスト! All Rights Reserved.
    </div>
  </div>
</footer>