<!--ローカルスタッキングコンテキストを形成main-contentはrightで閉じる-->
<!--<div id="main-content">-->
<!--  <aside class="side left">-->
<!--    <div class="side__inner">-->
<!--      <a class="twitter icon tween-animate-title" href="#">Twitter</a>-->
<!--    </div>-->
<!--  </aside>-->
