<!-- header begin -->
<!--_header.html.erb予定地-->
<%= render 'layouts/header' %>
<!--ヘッダーは問題ないよ-->
  <!-- header end -->
  <%= yield %>
  <!--footer bigin-->
<%= render 'layouts/footer' %>
<!-- footer end -->
  </body>
</html>
